<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <meta name='impact-site-verification' value='f1d66410-3645-45db-b3f6-624b8713b988' />
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">

  {%- if home.title -%}
  <!-- Primary Meta Tags -->
  <title>{{ home.title }}</title>
  <meta name="title" content="{{ home.title }}" />
  <meta name="description" content="{{ home.description }}" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}{{ home.url }}" />
  <meta property="og:title" content="{{ home.title }}" />
  <meta property="og:description" content="{{ home.description }}" />
  <meta property="og:image" content="{{ site.url }}{{ home.image }}" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="{{ site.url }}{{ home.url }}" />
  <meta property="twitter:title" content="{{ home.title }}" />
  <meta property="twitter:description" content="{{ home.description }}" />
  <meta property="twitter:image" content="{{ site.url }}{{ home.image }}" />

  {%- else if page.title -%}
  <!-- Primary Meta Tags -->
  <title>{{ page.title }}</title>
  <meta name="title" content="{{ page.title }}" />
  <meta name="description" content="{{ page.description }}" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description }}" />
  <meta property="og:image" content="{{ site.url }}{{ page.image }}" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="twitter:title" content="{{ page.title }}" />
  <meta property="twitter:description" content="{{ page.description }}" />
  <meta property="twitter:image" content="{{ site.url }}{{ page.image }}" />

  {%- else if post.title -%}
  <!-- Primary Meta Tags -->
  <title>{{ post.title }}</title>
  <meta name="title" content="{{ post.title }}" />
  <meta name="description" content="{{ post.description }}" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}{{ post.url }}" />
  <meta property="og:title" content="{{ post.title }}" />
  <meta property="og:description" content="{{ post.description }}" />
  <meta property="og:image" content="{{ site.url }}{{ post.image }}" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="{{ site.url }}{{ post.url }}" />
  <meta property="twitter:title" content="{{ post.title }}" />
  <meta property="twitter:description" content="{{ post.description }}" />
  <meta property="twitter:image" content="{{ site.url }}{{ post.image }}" />
  {%- endif -%}
  <!-- {%- feed_meta -%} -->
  {%- if jekyll.environment == 'production' and site.google_analytics -%}
  {%- include google-analytics.html -%}
  {%- endif -%}
</head>