#background {
    // background-color: #FEFEFE;
    // width: 100%;
    // height: 100%;
    // filter: blur(10px);
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;

}

.container-card {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.profile-card {
    position: relative;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-link {
    margin: 0 10px;
}

.social-link img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s;
}

.social-link img:hover {
    transform: scale(1.2);
}

h1 {
    color: #333;
}

p {
    color: #666;
}

.line {
    width: 100%;
    border-top: 1px solid #ccc;
    margin: 6px 0px;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0px;
    top: 0px;
    filter: blur(10px);
    background-color: #FEFEFE;
}

.container-work-card {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.work-card {
    display: inline-block;
    position: relative;
    max-width: 300px;
    height: 400px;
    overflow: hidden;
    border: 1px solid #ddd;
    transform: scale(1);
    transition: transform 0.3s;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 6px;
}

.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.card-image:hover {
    transform: scale(1.05);
}

.work-card:hover .card-image {
    transform: scale(1.05);
}

.work-card>.card-background {
    position: absolute;
    top: 0px;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .90) 90%);
    color: #fff;
    width: 100%;
    display: flex;
    align-items: end;
}

.work-card>.card-background>.card-content {
    padding: 18px;
    width: 100%;
    text-align: left;
}

.work-card>.card-background>.card-content>h2 {
    margin: 0;
    font-size: 1.5rem;
    line-height: 42px;
}

.work-card>.card-background>.card-content>p {
    margin: 0;
    color: #B2B2B2;
    line-height: 18px;
}

.badges {
    padding: 8px 0px;
    width: 100%;
}

.badges>span {
    -webkit-tap-highlight-color: transparent;
    font-size: 0.625rem;
    height: 1.125rem;
    line-height: calc(1.125rem - 0.125rem);
    padding: 0 calc(0.75rem / 1.5);
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: auto;
    text-transform: uppercase;
    border-radius: 0.125rem;
    font-weight: 700;
    letter-spacing: 0.015625rem;
    cursor: inherit;
    text-overflow: ellipsis;
    overflow: hidden;
    background: #fd7e14;
    color: #fff;
    border: 0.0625rem solid transparent;
    opacity: 0.8;
}

.gear-container {
    width: 200px;
    height: 200px;
    animation: rotate 5s linear infinite;
}

.left {
    position: absolute;
    left: 0px;
    top: 5%;
}

.right {
    position: absolute;
    right: 0px;
    bottom: 5%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.airplane-container {
    animation: fly 2s ease infinite;
    transform-origin: center bottom;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

@keyframes fly {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

.contact-card {
    position: relative;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    max-width: 300px;
}

.contact-card>form {
    width: 80%;
    margin: 0px 0px 12px 18px;
}

.contact-card>form>label {
    display: block;
    margin-bottom: 5px;
    color: #303030;
}

.contact-card>form>input[type="text"],
.contact-card>form>input[type="email"],
.contact-card>form>textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-card>form>textarea {
    height: 100px;
}

.button {
    border: #303030 2px solid;
    padding: 8px 32px;
    font-size: 18px;
    text-decoration: none;
    color: #303030;
    font-weight: 500;
    cursor: pointer;
    background-color: transparent;
}

.button:visited {
    color: #303030;
}

.button:hover {
    border: #303030 2px solid;
    text-decoration: none;
    color: white;
    background-color: #303030;
}

.button-disable {
    border: #888 2px solid;
    padding: 8px 32px;
    font-size: 18px;
    text-decoration: none;
    color: #888;
    font-weight: 500;
    cursor: not-allowed;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    /* Warna latar belakang dengan efek transparan */
}

.modal-content {
    background-color: #fefefe;
    margin: 22px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 320px;
    text-align: center;
    color: #303030;
    font-size: 18px;
}

.close-button {
    border: #303030 2px solid;
    padding: 8px 32px;
    font-size: 18px;
    text-decoration: none;
    color: #303030;
    font-weight: 500;
    cursor: pointer;
}

.close-button:hover {
    border: #303030 2px solid;
    text-decoration: none;
    color: white;
    background-color: #303030;
}

@media screen and (max-width: 768px) {
    .container-work-card {
        display: block;
        height: auto;
    }

    .work-card {
        display: block;
        margin: 18px auto;
    }

    .left {
        left: -18px;
        top: -18px;
    }

    .right {
        right: -18px;
        bottom: -18px;
    }

    .airplane-container {
        left: 40%;
    }

    .modal-content {
        width: calc(80% - 4px);
    }
}


.container-grid {
    padding: 20px;
}

.grid {
    list-style: none;
    padding: 0;
    margin-left: 0px;
    max-width: 400px;
}

.card {
    margin: 6px;
    display: inline-block;
    max-width: 400px;
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease;
}

// .card:hover {
//     transform: translateY(-5px);
// }

.card-content {
    padding: 20px;
    position: relative;
    text-align: left;
}

.post-date {
    color: #888;
    font-size: 0.9em;
    margin-bottom: 10px;
    display: block;
}

.card h2 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
}

.card p {
    color: #555;
    font-size: 1em;
    line-height: 1.5;
    margin: 0 0 20px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s ease;
    position: absolute;
    bottom: 20px;
}

.btn:hover {
    background-color: #0056b3;
    color: white;
    text-decoration: none;
}

.btn:visited {
    color: white;
}


.container-blog-card {
    text-align: center;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    margin-top: 20px;
    max-width: 800px;
    list-style-type: none;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 6px;
    z-index: 10;

    input {
        font-weight: 400;
        font-size: 14px;
        width: -webkit-fill-available;
        height: 32px;
        border-radius: 6px;
        border: 1px gray solid;
        padding: 6px 12px;
        margin: 8px;
    }

    .badge {
        display: inline-block;
        padding: 2px 4px;
        margin: 5px;
        border-radius: 5px;
        border: 1px #303030 solid;
        background-color: #fefefe;
        color: #303030;
        cursor: pointer;
    }

    .badge.active {
        background-color: #303030;
        color: #fefefe;
    }
}



.pagination {
    list-style-type: none;
    padding: 6px 12px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    max-width: 310px;
    z-index: 10;
}

.page_number {
    display: block;
    text-align: center;
    width: 100%;
}

.next, .prev {
    display: inline-block;
    width: 70px; 
    text-align: center; 
    margin: 6px;
}
