---
layout: default
--- 

<div id="particles-js"></div>
<div class="container-card">
  <div class="profile-card">
    <div class="profile-image">
        <img src="../assets/images/my-picture.jpg" alt="Foto Profil Saya">
    </div>
    <h1>Teguh Setiawan</h1>
    <p>Hello! I am a web developer who has a hobby in electronics. I hope my work can be useful to you.</p>
    <div class="line"></div>
    <h2>My Projects</h2>
    <ul>
      <li>
        <a href="https://logic-gate.online">Logic gates simulator</a>
      </li>
    </ul>
    <div class="line"></div>
    <div class="social-links">
        <a class="social-link" href="https://www.github.com/teguh-elektro">
            <img src="../assets/images/github.png" alt="Github">
        </a>
        <a class="social-link" href="https://www.instagram.com/teguh.elektro">
            <img src="../assets/images/instagram.png" alt="Instagram">
        </a>
        <a class="social-link" href="https://www.youtube.com/@teguhsetiawan8910">
            <img src="../assets/images/youTube.png" alt="Youtube">
        </a>
        <a class="social-link" href="https://ko-fi.com/teguhelektro">
          <img src="../assets/images/ko_fi.png" alt="Ko-fi">
      </a>
    </div>
  </div>
</div>

<script src="../assets/js/particles.js"></script>
<script src="../assets/js/particles-config.js"> </script>